<!-- src/app/landing-page/landing-page.component.html -->

<!-- Background Shapes -->
<div class="background-shapes">
  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
  <div class="shape shape3"></div>
</div>
<div class="container">

  <section class="header">
    <img src="assets/images/hadar-logo.png" alt="Header Image" class="header-image2">
    <h1>HADAR AI-ART</h1>
      <div style="font-size: 1.4rem; color: navy;">עיצוב לפי בקשתך באמצעות הכלים החדשניים ביותר של טכנולוגיית AI</div>
    <div class="c2">
      <div class="typed-out">כדי ליצור את התמונה המושלמת</div>
    </div>
    <img src="assets/images/hadar-bike.png" alt="Header Image" class="header-image1">
  </section>


  <!-- Content Sections -->
  <section>
    <!-- Curved dashed line SVG -->
    <svg class="connector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 800">
      <path d="M 10 20 Q 250 150, 100 200 T 500 150 Q 350 350, 150 400 T 200 600" stroke="#555" fill="none"
        stroke-width="1" stroke-dasharray="8" />
    </svg>
    <!-- First Image and Comment (Image on Right) -->
    <div class="image-comments-section image-right">
      <div class="image-container">
        <div class="comments">יצירות עיצוב ייחודיות, מתמונות אומנותיות ועד עיצובי הזמנות בהתאמה אישית. מוצעים שירותי עיצוב יצירתיים לאירועים מיוחדים, מזכרות, כרטיסי ברכה ועוד, תוך התאמה לכל בקשה במטרה להפוך כל רגע ליצירת אומנות </div>
        <div class="image image1"></div>
      </div>
    </div>

    <!-- Second Image and Comment (Image on Left) -->
    <div class="image-comments-section image-left">
      <div class="image-container">
        <div class="comments">אפשר להזמין תמונה מקצועית ומעוצבת לרשתות החברתיות, בהתאמה אישית למיתוג ולמסר הרצוי. כל תמונה מעוצבת בקפידה כדי לשדר מקצועיות, יצירתיות ולהשאיר רושם מתמשך. מתאים לפרופילים אישיים ועסקיים כאחד, ליצירת נוכחות דיגיטלית חזקה ומרשימה</div>
        <div class="image image2"></div>
      </div>
    </div>

    <!-- Third Image and Comment (Image on Right) -->
    <div class="image-collage-section image-right">
      <div class="grid">
        <div class="grid-item1"></div>
        <div class="grid-item2"></div>
        <div class="grid-item3"></div>
        <div class="grid-item4"></div>
        <div class="grid-item5"></div>
        <div class="grid-item6"></div>
        <div class="grid-item7"></div>
      </div>
      <div class="comments">ואם מתחשק לך משהו קצת שונה – אפשר גם ליצור תמונה יצירתית ומיוחדת שבה אתם מופיעים בחלל, בים, באוויר, או אולי הכלב שלכם לצד דרקונים ואגדות, כל מה שעולה בדמיון!</div>
    </div>

  </section>


  <!-- Footer Section -->
  <footer>
    <p>פרטי יצירת קשר: טלפון, אימייל, כתובת</p>
    <p>
      <a href="#">לינק לרשת חברתית 1</a> |
      <a href="#">לינק לרשת חברתית 2</a>
    </p>
  </footer>
</div>