/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'HeaderFont';
    src: url('/assets/fonts/ChailceNogginRegular-2OXoW.ttf');
}

@font-face {
    font-family: 'TitlesFont';
    src: url('/assets/fonts/RubikDoodleShadow-Regular.ttf');
}

@font-face {
    font-family: 'DescriptionFont';
    src: url('/assets/fonts/TrashimCLM-Bold.otf');
}